<!DOCTYPE html>
<html lang="en">
<head>
   <style>
       .foo {
           float: left;
           width: 200px;
           height: 100px;
           margin: 5px;
           border: 1px solid rgba(1, 0, 0, .2);
       }

       .blue {
           background: #13b4ff;
       }

       .purple {
           background: #ab3fdd;
       }

       .wine {
           background: #ae163e;
       }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
    <div class="foo blue">Sensor 1</div>
    <div class="foo purple"></div>
    <div class="foo wine"></div>

</head>
<body>

</body>
</html>